h2{
    clear: both;
    font-family: monospace;
    font-size: 40px;
    display: inline-block;
    width: 100%;
    color: azure;
    text-decoration: underline;
}
h3{
    text-align: center;
    color: royalblue;
    font-size: 28px;
}
div{
    border: solid;
    border-color: blueviolet;
}
h5{
    margin: 1.5%;
    padding: 8px;
    font-size: 20px;
    text-decoration: underline;
}
p{
    font-size: 19px;
    font-family: serif;
}
footer{
    border: solid;
    border-color: blueviolet;
    font-size: 18px;
    text-align: center;
}